@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply text-base font-normal text-black bg-white m-0;
}

* {
  @apply scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}
p {
  @apply m-0;
}
a {
  @apply no-underline text-current;
}
ul {
  @apply list-none p-0 m-0;
}
li {
  @apply list-none;
}
img {
  @apply block max-w-full h-auto;
}

.contact-title {
  @apply font-transforma text-xl font-semibold text-whiteMilky mb-[6px] xl:w-64;
}

.contact-text {
  @apply font-mustica text-base font-semibold text-grey whitespace-pre-wrap hover:opacity-70 transition-all duration-300;
}

@layer base {
  @font-face {
    font-family: "Brotesk";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Brotesk-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Darker-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/DarkerGrotesque-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Darker-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/DarkerGrotesque-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "DMSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/DMSans-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Mustica";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/MusticaPro-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/Syne-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Transforma";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/TransformaMix_Trial-SemiBold.ttf) format("truetype");
  }
}

.hero-bg {
  width: 100%;
  background-image: url("/src/assets/images/hero/hero-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bg {
    background-image: url("/src/assets/images/hero/hero-mobile@2x.webp");
  }
}

@media screen and (min-width: 1440px) {
  .hero-bg {
    background-image: url("/src/assets/images/hero/hero-desktop.webp");
    background-size: 100%;
    background-position: unset;
    background-repeat: repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bg {
      background-image: url("/src/assets/images/hero/hero-desktop@2x.webp");
    }
  }
}

.chevron::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 34px;
  background-image: url("/src/assets/images/icons/chevron.svg");
  background-size: cover;
}

.point::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 11px;
  height: 11px;
  background-image: url("/src/assets/images/icons/point.svg");
  background-size: cover;
}

.swiper-scrollbar-horizontal {
  display: flex;
  align-items: center;
  background-color: #efefef;
  height: 18px !important;
  padding: 2px;
}

.swiper-scrollbar-drag {
  width: 72px;
  background-color: #e3000b;
  border-radius: 100px;
  height: 14px;
}
